body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("https://images.wallpaperscraft.com/image/single/forest_trees_fog_110131_1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.up {
    background-color: black;
    border: 3px solid #000;
    color: #fff;
    text-align: center;
}

.up ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.up ul li {
    display: inline-block;
}

.up ul a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.up ul a:hover {
    background: #333;
    border-radius: 5px;
}

.up h1 {
    color: #fff;
    margin: 10px 0;
}

.max-bottom {
    margin-top: 30%;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.items {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.making-fuel-photo {
    width: 30%;
    max-width: 320px;
    padding-top: 130px;
    border-radius: 10px;
}

.making-fuel-text {
    width: 70%;
    color: #000000;
    text-align: left;
    line-height: 1.7;
    font-size: 130%;
}

@media (max-width: 768px) {
    .items {
        flex-direction: column;
    }

    .making-fuel-photo,
    .making-fuel-text {
        width: 100%;
    }
}

.main{
    background-color: #c2c2c2;
    padding: 40px 0;
    padding-bottom: 50px;
}
.import{
    background-color: rgb(227, 255, 246);
    padding: 60px;
}

.importing{
    width: 90%;
    max-width: 1100px;
    margin: 0 10%;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row-reverse;
}


.importing-fuel-photo{
    width: 40%;
    border-radius: 10px;
    object-fit: cover;
}


.importing p{
    width: 70%;
    font-size: 130%;
    color: #000;
}

.seling-fuel {
    background-color: rgb(100, 128, 112);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px;
    gap: 40px;
    color: #fff;
    flex-wrap: wrap; 
    flex-direction: row-reverse;
}

.seling-fuel p {
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.7;
    padding-top:3%;
}

.photo_of_seling {
    width: 35%;
    max-width: 500px;
    border-radius: 10px;
    object-fit: cover;
}


